.AlignNavbar
    display flex
    align-items center
    flex-flow row wrap
.AlignItemsNavbar
    display flex
    justify-content center
.Header-container
    background-color #8579e8
    color white
.Header-container .navbar-toggle
    color white
    font-weight bold
    font-size 25px
.Header-container .Login
    color white
    font-weight bold
    font-size 20px
    text-transform uppercase
.Header-containerAlignV
    align-items center
    display flex
.Header-containerAlignV > div > h1
    margin-bottom 0
    margin-top 0
.navbarMargin
 margin-bottom 0
input.form-control:focus
    border-color #8579e8
.navbar-nav > li > a
    color #363636
.MenuContainer
    background #d1cee6
.MarginTopSearch
    margin 1em 0 1em 0
.btn.Btn-adsi
    background-color #8579e8
    color white
.btn.Btn-adsi:hover
    background-color #8AB542
.IconSearch
    font-size 20px
.Login-p > a
    text-decoration none
@media (max-width: 992px){
    .MarginTopSearch-main{
        margin-bottom 1em
    }
}
