.Carousel-container
    background #8579e8
.Carousel-container-scroll
    margin 0
.Carousel-container-padding
    padding 0
.InfoContainer
    padding-top 1em    
    background #887fce
    color #272367
.InfoContainer h4
    margin 1em 0
    font-weight bold